
table tr,table td{
    text-align: center;
    min-width: 100px;
}
.text{
    text-align: left;
    max-width: 500px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
figure{
    max-width: 100px;
}
