.book{
	width: 400px;
	display: flex;
	height: 180px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #000;
}
.book .imgWrapper{
	width: 120px;
	height: 160px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #aaaaaa;
}
.book .imgWrapper img {
	max-width: 100%;
	/* max-height: 100%; */
}

.book-info{
	display: flex;
	flex:1;
	flex-direction: column;
	padding-left: 15px;
}
.book-info .title{
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: 800;
}
.book-info .intro{
	flex: 1;
	overflow: hidden;
	text-overflow: clip;
}
.book-info .author{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 100;
}